html, body{
   overflow-x: hidden;
   margin: 0;
   padding: 0;
 }
 body {
   font-family: 'Prata', serif;
 }
 h1, h2, h3, h4, h5 {
   font-family: 'Prata', serif;
 }
 h1 {
   font-size: 2em; /*32px*/
 }
 h2 {
   font-size: 1.75em; /*28px*/
   font-weight: 400;
 }
 h3 {
   font-size: 1.5em; /*24px*/
   font-weight: 400;
 }
 h6 {
   font-family: 'Quattrocento Sans', sans-serif;
 }
 p {
   font-size: 0.93em; /*15px*/
   line-height: 28px;
   font-weight: 400;
 }



 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
   width: 100%;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width: 50%;
   float: left;
   position: relative;
   min-height: 1px;
   margin: 0 2% 20px;
}


  /* BUTTONS */
  .btn-learnmore {
   background: #FFFFFF;
   border-radius: 20px;
   border: 1px solid #374F5D;
   box-shadow: 0px 1px 1px 0px #9EA6AA;
   color:#374F5D;
   display: block;
   font-family: 'Quattrocento Sans';
   font-size: 0.875em; /*14px*/
   font-weight: 400;
   height: 35px;
   margin: auto;
   line-height: 35px;
   text-decoration: none;
   width: 300px;
 }
  .btn-getstarted {
   background: transparent;
   border-radius: 20px;
   border: 2px solid #FFFFFF;
   box-shadow: 0px 1px 1px 0px #9EA6AA;
   color: #FFFFFF;
   display: block;
   font-family: 'Quattrocento Sans';
   font-size: 0.875em; /*14px*/
   font-weight: 400;
   height: 35px;
   margin: auto;
   line-height: 35px;
   text-decoration: none;
   width: 300px;
 }
 .btn-application {
   background: #374F5D;
   border-radius: 20px;
   border: 1px solid #374F5D;
   box-shadow: 0px 1px 1px 0px #9EA6AA;
   color:#EEEEEE;
   display: block;
   font-family: 'Quattrocento Sans';
   font-size: 0.875em; /*14px*/
   font-weight: 400;
   height: 35px;
   margin: auto;
   line-height: 35px;
   text-decoration: none;
   width: 300px;
 }
  .btn-subscribe {
   background: #374F5D;
   border-radius: 20px;
   border: 1px solid #374F5D;
   box-shadow: 0px 1px 1px 0px #9EA6AA;
   color:#EEEEEE;
   display: block;
   font-family: 'Quattrocento Sans';
   font-size: 0.875em; /*14px*/
   font-weight: 400;
   height: 35px;
   margin: auto;
   line-height: 35px;
   text-decoration: none;
   width: 300px;
 }
 .btn-donateonce {
   background: transparent;
   border-radius: 20px;
   border: 2px solid #374F5D;
   box-shadow: 0px 1px 1px 0px #9EA6AA;
   color: #374F5D;
   display: block;
   font-family: 'Quattrocento Sans';
   font-size: 0.875em; /*14px*/
   font-weight: 400;
   height: 35px;
   margin: auto;
   line-height: 35px;
   text-decoration: none;
   width: 300px;
 }
 .btn-donatemonthly{
   background: #374F5D;
   border-radius: 20px;
   border: 1px solid #374F5D;
   box-shadow: 0px 1px 1px 0px #9EA6AA;
   color:#EEEEEE;
   display: block;
   font-family: 'Quattrocento Sans';
   font-size: 0.875em; /*14px*/
   font-weight: 400;
   height: 35px;
   margin: auto;
   line-height: 35px;
   text-decoration: none;
   width: 300px;
 }


 /* HEADER NAV */
header {
  background: url(../images/partnerbg.png); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}
.menu {
   position: fixed;
   height: auto;
   top: 0;
   padding-top: 0.5em;
   width: 100%;
   z-index: 1;
}
.menu li:last-child {
  margin-right: 4.25em;
}
.scrolling {
  background-color: #FFFFFF; opacity: 0.95; /*white*/
  transition-duration: 0.1s;
}
header nav ul {
  overflow: hidden;
  text-align: right;
  padding: 1%;
  margin-left: 0;
  -webkit-transition: max-height 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -0-transition: max-height 0.4s;
  transition: max-height 0.4s;
}
header nav ul li {
   display: inline-block;
   list-style-type: none;
   font-size: 1em; /*16px*/
   padding: 10px 15px;
}
header nav ul li a {
   color: #374F5D;
   text-decoration: none;
}
header nav ul li a:hover{
   color: #5D3757;
}
header nav ul li a:active{
   color: #5D3757;
   text-decoration: underline;
}
#logo {
   display: inline-block;
   padding-left: 3.25em;
   padding-top: 0.3em;
   float: left;
}
#logo img {
  width: 75%; 
  height: auto;    
}​
/* RESPONSIVE-MOBILE MENU */
.mobile-icon {
  display: none;
}
@media screen and (min-width: 895px) {
  .mobile-icon { 
    display: none; 
  } 
}
@media screen and (max-width: 895px) {
  .logo {
    display: none;
  }
  .mobile-icon {
      display: block;
      padding-left: 1.25em;
      padding-top: 0.1em;
      cursor: pointer;
      position: relative;
  }
    nav ul {
      max-height: 0px;
      padding: 0px;
    }
    /* MOBILE NAV  */
    .showing {
      min-height: 12em;
      padding-bottom: 10px;
      padding-left: 0.5em;
      font-size: 28px;
    }
    .menu {
      background-color: #374F5D; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(left top, #374F5D, #1C5372); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(left top, #374F5D, #1C5372); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #374F5D, #1C5372); /* For Firefox 3.6 to 15 */
      background: linear-gradient(to bottom right, #374F5D, #1C5372); /* Standard syntax */
      display: block;
      width: 100%;
    }
    nav ul li {
      box-sizing: border-box;
      width: 100%;
      text-align: center;
    }
    nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
  }
    header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
  }
}

/* HERO */
@media (min-width: 893px){
.partner {
   color: #FFFFFF;
   display: block;
   position: relative;
   text-align: center;
 }
}
/* TABLET HERO */
@media (max-width: 892px){
  header {
    background-image: url(../images/partnerbg.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -1;
    }
}
/* MOBILE HERO */
@media (max-width: 401px){
header {
  background-image: url(../images/partnerbg.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
  }
}


/* PARTNER WITH US */
.partner {
  background: url(../images/partnerbg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #374F5D;
  display: inline-block;
  position: relative;
  text-align: center;
  height: 500px;
  padding-bottom: 50px;
  padding-top: 150px;
  width: 100%;
 }
 .partner p {
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
 }
 .partner img {
  padding-top: 30px;
 }
input {
  color: #374F5D;
  font-family: 'Quattrocento Sans', sans-serif;
  background: transparent;
  border: none;
  border-bottom: 1px solid #374F5D;
  box-sizing: border-box;
  padding: 7px;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  width: 300px;
}
input[name=email]{
  padding-bottom: 10px;
  padding-left: 30px;
}
input[name=fullname]{
  padding-bottom: 10px;
  padding-left: 30px;
  margin-bottom: 20px;
}


  /* GET INVOLVED & DONATE */
.connectdonate {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.box {
  min-height: 325px;
  padding-bottom: 40px;
  padding-top: 40px;
}
li.one-half.stayconnected {
  background-color: #7596A9;
  color: #EEEEEE;
  margin: 0;
  padding: 0;
  text-align: center;
}
li.one-half.stayconnected img {
  padding-top: 30px;
}
li.one-half.stayconnected p {
  padding-bottom: 25px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
}
li.one-half.stayconnected form {
  padding-bottom: 65px;
}
li.one-half.donate {
  color: #374F5D;
  background-color: #FFFFFF;
  background: #FFFFFF; /* For browsers that do not support gradients */
  margin: 0;
  padding: 0;
  text-align: center;
}
li.one-half.donate img {
  padding-top: 30px;
}



/* FOOTER */
footer {
  overflow: hidden;
  background-color: #374F5D;
  width: 100%;
}
#footerlogo {
  display: block;
  padding-top: 30px;
}
footer .copyright-block {
  color: #EEEEEE; 
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 0.875em; /*14px*/
  text-align: left;
}
nav.right-footer-block {
  display: inline-block;
  padding-bottom: 30px;
}
nav.right-footer-block ul {

}
nav.right-footer-block ul li {
  display: inline;
  padding-right: 1.5em;
  padding-top: 2.5em;
}




/* MEDIA QUERIES */

/* Larger than mobile */
@media (min-width: 400px) {
  .container {
    width: 100%;
  }
  .one-half {
    width: 100%;
  }
  .one-third {
    width:100%;
  }
  li.one-half.stayconnected {
  margin: 0;
  max-height: 450px;
  padding: 0;
  overflow: hidden;
  }
  li.one-half.donate p {
  padding-bottom: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  }
  li.one-half.donate h3 {
  padding-bottom: 35px;
  }
}

/* Larger than tablet */
@media (min-width: 895px) {
  .container {
     width: 100%;
   }
  .one-half {
     width: 50%;
   }
  .one-third {
     width:29.33333%;
   }
  footer {
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #374F5D;
    width: 100%;
  }
  #footerlogo {
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 2.5em 0;
    width: 30%;
  }
  footer .copyright-block {
    color: #EEEEEE; 
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.875em; /*14px*/
    font-weight: 400;
    padding: 3em 0;
    text-align: center;
  }
  nav.right-footer-block ul li {
    display: inline-block;
    margin: 0 auto;
    padding-top: 2.5em;
    padding-bottom: 2em;
    padding-left: 1.5em;

  }
  .right-footer-block a {
    color: #EEEEEE;
    font-size: 1.5em; /*24px*/
    text-decoration: none;
  }

}

/* Larger than desktop */
@media (min-width: 1000px) {
   .container {
     width: 100%;
   }
   .one-half {
     width: 50%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
   .partner p {
    padding-bottom: 50px;
    padding-left: 200px;
    padding-top: 50px;
    padding-right: 200px;
   }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
   .container {
     width: 100%;
   }

 }

